
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>Kart Sim</h3>

        <form action="/readCardSim" method="post">
            <div class="form-group">
                <label for="kartId">Kart ID</label>
                <input type="text" id="kartId" name="kartId" class="form-control" placeholder="Kart ID">
            </div>

            <button type="submit" class="btn btn-success">Giriş Yap</button>
        </form>


    </div>
</div>