
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>Login</h3>

        <form action="/user/adminLogin" method="post">
            <div class="form-group">
                <label for="isim">Kullanıcı Adı</label>
                <input type="text" id="isim" name="Ausername" class="form-control" placeholder="Kullanıcı Adı">
            </div>
            <div class="form-group">
                <label for="parola">Parola</label>
                <input type="password" id="parola" name="Apassword" class="form-control" placeholder="Parola">
            </div>

            <button type="submit" class="btn btn-primary" >Login</button>
        </form>


    </div>
</div>

